<ng-container *ngIf="isLoading$ | async">
  <span class="indicator-progress" [style.display]="'block'">
    Yükleniyorr...
    <span
      class="spinner-border spinner-border-sm align-center ms-2"
    ></span>
  </span>
</ng-container>
<select
              name="{{ name }}"
              class="form-select form-select-lg form-select-solid"
              [formControl]="formControl"
            >
              <option
               *ngFor="let brand of brands"
               value="{{ brand.id }}">{{ brand.name }}</option>
            </select>

