<ng-container *ngIf="isLoading$ | async">
  <span class="indicator-progress" [style.display]="'block'">
    Yükleniyor...
    <span
      class="spinner-border spinner-border-sm align-center ms-2"
    ></span>
  </span>
</ng-container>
<app-table [title]="'Products'" [subtitle]="'Manage, Register, Update or Remove Products here.'"
    [data]="products && products.data" [columns]="productColumns" (onFilter)="filter($event)"
    (onReload)="reload()" (onCreateForm)="openForm()" (onEditForm)="openForm($event)" (onSort)="sort($event)"
    (onDelete)="remove($event)" [totalCount]="products && products.totalCount"
    [pageSize]="products && products.pageSize" (onPageChanged)="pageChanged($event)">
  </app-table>
