
    <div class="row">
        <div class="col-md-12 bg-primary">
            <div class="row">
                <div class="col align-self-start">
                    <a href="#" class="btn btn-dark">1</a>
                    <a href="#" class="btn btn-dark">2</a>
                    <a href="#" class="btn btn-dark">3</a>
                    <a href="#" class="btn btn-dark">4</a>
                </div>
                <div class="col align-self-center">
                    Cart İnfo
                </div>
                <div class="col justify-content-end">
                    <a href="#" class="btn btn-dark">Dark</a>
                    <a href="#" class="btn btn-dark">Dark</a>
                    <a href="#" class="btn btn-dark">Dark</a>
                    <a href="#" class="btn btn-dark">Dark</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4 bg-success">.col-6 .col-md-4</div>
        <div class="col-6 col-md-8 bg-info">
            <router-outlet>></router-outlet>
        </div>
    </div>
    <div class="row">
        <div class="col-12 bg-danger">.col-6</div>
    </div>
